<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Agricultores Federados Argentinos <h3>(1996 - 1997)</h3></h1></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem, 
            soluta veritatis eligendi, et itaque distinctio consequuntur molestiae reiciendis eum ut 
            dignissimos, deserunt voluptate cumque temporibus expedita architecto quis hic.</p>
        </ul>
        <ul>
            <li><h1>Scollo Producciones <h3>(1996 - 2022)</h3></h1></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem, 
            soluta veritatis eligendi, et itaque distinctio consequuntur molestiae reiciendis eum ut 
            dignissimos, deserunt voluptate cumque temporibus expedita architecto quis hic.</p>
        </ul>
        <ul>
            <li><h1>Escuela Normal Superior N° 37 <h3>(2011 - 2024)</h3></h1></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem, 
            soluta veritatis eligendi, et itaque distinctio consequuntur molestiae reiciendis eum ut 
            dignissimos, deserunt voluptate cumque temporibus expedita architecto quis hic.</p>
        </ul>
    </div>
</div>