<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Escuela Normal Superior N° 37 <h3>(1978 - 1991)</h3></h1></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem, 
            soluta veritatis eligendi, et itaque distinctio consequuntur molestiae reiciendis eum ut 
            dignissimos, deserunt voluptate cumque temporibus expedita architecto quis hic.</p>
        </ul>
        <ul>
            <li><h1>Escuela Justo José de Urquiza N° 49 <h3>(1999 - 2001)</h3></h1></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem, 
            soluta veritatis eligendi, et itaque distinctio consequuntur molestiae reiciendis eum ut 
            dignissimos, deserunt voluptate cumque temporibus expedita architecto quis hic.</p>
        </ul>
        <ul>
            <li><h1>Universidad de Cocncepción del Uruguay UCU <h3>(2018 - 2021)</h3></h1></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem, 
            soluta veritatis eligendi, et itaque distinctio consequuntur molestiae reiciendis eum ut 
            dignissimos, deserunt voluptate cumque temporibus expedita architecto quis hic.</p>
        </ul>
    </div>
</div>