<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/foto.JPG" alt="foto de roman" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Román Scollo</p>
        <p>Full Stack Develper Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem iusto facere fugiat commodi 
               repellat ab, nihil voluptas at repudiandae unde sit aliquid veritatis illo exercitationem 
               reiciendis enim magni quod vel?</p>
        </span>
    </div>
</div>
